@inject SignInManager<AppUser> signManager

<div class="dropdown">
    @if (signManager.IsSignedIn(User))
    {
        <button class="btn btn-link text-dark" type="button" data-bs-toggle="dropdown">
            <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <form asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit" class="dropdown-item">Logout</button>
                </form>
            </li>
        </ul>
    }
    else
    {
        <button class="btn btn-link text-dark" type="button" data-bs-toggle="dropdown">
            <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" asp-controller="Account" asp-action="Login">Login</a></li>
            <li><a class="dropdown-item" asp-controller="Account" asp-action="Registration">Registration</a></li>
        </ul>
    }
</div>